

  <section class="card">
    <div class="card-header">

      <div class="title">{{{title}}}</div>
      <br />
      <div class="name">{{{name}}}</div>

    </div>

    <div class="card-body">{{{contents}}}</div>

    <br />

  </section>
